/*----------------------------------------------------------------------
 * CommentBuddy popup
 *----------------------------------------------------------------------
 * TODO: change px to em where feasible
 *----------------------------------------------------------------------*/
body {
	color: black;
	background-color: transparent;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
  min-width: 20em;
  /*max-width: 40em;*/
  width: 38em;
  height: 44em;
  overflow-x: auto;
}

/* reconfigure dialog */
.reconfigure {
  display: inline-block;
  border: 1px solid black;
  border-radius: 6px;
  background: linear-gradient(315deg, rgba(80,117,178,1) 0%, rgba(138,181,252,1) 100%);
  filter: drop-shadow(6px 6px 4px #444);
  min-width: 38em;
}

.reconfigure-title {
  color: white;
  background-color: #0b47a8;
  border-radius: 6px 6px 0px 0px;
  padding-top: 6px;
}

.reconfigure-title-label {
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 4px;
}

.reconfigure-icon {
  float: right;
  margin-left: 0.5em;
}

.reconfigure-item {
  margin: 10px 8px;
}

.reconfigure-input {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  margin-left: 4px; 
  width: 100%;
}

/*-- standard error and notice tools --*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice {
 /* float: right;  */
  font-size: 0.9em;
  font-style: italic;
  margin-left: 0.4em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
