body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
	margin-left: 0.2em;
  margin-top: 0.2em;
}

.title {
  font-size: 1.0em;
  color: white;
  background-color: #426296;
  border: none;
  border-radius: 6px 6px 0px 0px;
  padding: 0.4em 0.4em 0.2em 0.2em;
  margin-bottom: 0.6em;
  max-width: 47em;
}

#logo {
  width: 1.4em;
}

#titleText {
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0.2em;  
}

#saveButton {
  font-size: 0.9em;
  color: #426296;
  background-color: white;
  border: none;
  border-radius: 4px;
  float: right;
  margin-top: 0.2em;
}

#saveButton:disabled {
  color: #eee;
  background-color: #aaa;
} 

.content-section {
  margin-bottom: 0.8em;
  margin-left: 0.3em;
  font-size: 0.9em;
}

.label {
  display: inline-block;
  min-width: 7em;
  vertical-align: top;
}

.comment-icon {
  color: #5075b2;
  font-size: 1.2em;
  padding-left: 0.2em;
  vertical-align: bottom;
}

.user-input {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 0.9em;
  width: 50em;
}

#commentInput {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 0.9em;
}

#referenceSection {
  display: none;
}

#showSampleComments {}
#hideSampleComments { display: none; }

#previewOutput {
  display: inline-block;
  background-color: #ddd;
  border: 1px solid #ccc;
  width: 50.0em;
  font-size: 0.9em;
}

#referenceContainer {
  display: inline-block;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
  font-size: 0.9em;
}

th {
  text-align: left;
  color: white;
  background-color: #5075b2;
}

td, th {
  vertical-align: top;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

td {
  background-color: white;
}

/*-- standard error and notice tools --*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice {
 /* float: right;  */
  display: inline-block;
  font-size: 0.9em;
  font-style: italic;
  margin-left: 2.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  display: none;
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
